@import "../../styles/vars.scss";
@import "../../styles/util.scss";

.game-toggle-item {
  box-sizing: border-box;
  border: 6px solid transparent;
  display: flex;
  max-height: 84px;
  cursor: pointer;
  justify-self: center;
  width: 100%;
  @include border-radius(14px);
  @include transition;
  &.toggled {
    .game-toggle-item-content {
      background-color: $main-blue;
      color: white;
      @include box-shadow($main-blue-darker, 4px);
      &:hover {
        @include apply-hover($bg: $main-blue, $hovColor: white);
      }
      .game-toggle-item-image {
        @include box-shadow($main-blue-darker, 3px);
      }
    }
  }

  .game-toggle-item-content {
    display: flex;
    width: 100%;
    font-weight: $weight-bold;
    background-color: white;
    @include box-shadow($trans-drop-shadow, 4px);
    @include border-radius;
    &:hover {
      @include apply-hover;
    }
    .game-toggle-item-image-wrap {
      @include flex-center;
      .game-toggle-item-image {
        width: 58px;
        height: 78px;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        @include position(-14px, auto, auto, 10px);
        @include box-shadow($trans-drop-shadow, 3px);
        img,
        svg {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    .game-toggle-item-text {
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-basis: calc(75% - 35px);
      padding: 15px 15px 15px $base-spacing;
    }
  }
}
