@import "../../styles/util.scss";

.menu {
  display: flex;
}

.menu-list {
  position: absolute;
  top: 56px;
  right: var(--default-spacing);
  @include position(56px, var(--default-spacing));
  background: white;
  padding: var(--default-spacing);
  @include box-shadow(var(--solid-drop-shadow));
  border-radius: 5px;
  font-weight: var(--weight-bold);
}

.menu-button {
  @include w-h(36px);
  padding: 0;
  border: none;
  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    appearance: none;
  }
}

.menu-button img {
  @include w-h(100%);
  border-radius: 5px;
}
