@import "../../styles/util.scss";

.menu {
  display: flex;
}

.menu-list {
  position: absolute;
  top: 56px;
  right: $base-spacing;
  @include position(56px, $base-spacing);
  background: white;
  padding: $base-spacing;
  @include box-shadow(var(--solid-drop-shadow));
  border-radius: 5px;
  font-weight: $weight-bold;
  z-index: 3;
}

.menu-button {
  @include w-h(36px);
  padding: 0;
  border: none;
  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    appearance: none;
  }
}

.menu-button img {
  @include w-h(100%);
  border-radius: 5px;
}
