@import "../../styles/vars.scss";
@import "../../styles/util.scss";

.game-item {
  display: flex;
  cursor: pointer;
  justify-self: center;
  width: 100%;
  min-height: $game-item-base-height;
  .game-item-content {
    display: flex;
    width: 100%;
    font-weight: var(--weight-bold);
    @include box-shadow(var(--solid-drop-shadow), 4px);
    border-radius: 5px;
    background-color: white;
    @include border-radius;
    .game-item-image-wrap {
      flex-basis: 25%;
      @include flex-center;
      .game-item-image {
        width: 100px;
        height: $game-item-base-height;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        // border: 5px solid #ffffff;
        @include position(-10px, auto, auto, 10px);
        @include box-shadow(var(--solid-drop-shadow), 3px);
        img,
        svg {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    .game-item-text {
      flex-basis: calc(75% - 35px);
      padding: 15px 15px 15px var(--default-spacing);
    }
  }

  & + .item-add {
    min-height: $game-item-base-height;
  }
}
