:root {
  --main-background: #f5f5f2;
  --text-dark: #282822;
  --subtle-border: #e2e2e2;
  --main-font: "Nunito", sans-serif;
  --main-blue: #017bfd;
  --solid-drop-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

a {
  color: var(--text-dark);
  text-decoration: none;
  transition: 0.1s ease-in-out;
  &:hover {
    color: var(--main-blue);
  }
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

h1 {
}

body {
  box-sizing: border-box;
  background: var(--main-background);
  font-family: var(--main-font);
  color: var(--text-dark);
}

img {
  box-sizing: border-box;
}

.home {
  display: flex;
}

.container {
  padding: 0 50px;
}

.main {
  flex-basis: 70%;
  padding: 0 50px;
}

.panel-right {
  flex-basis: 30%;
}
