@import "./vars.scss";
@import "./util.scss";
@import "./forms.scss";

/**
* Define any vars where we would possibly change dynamically. E.g. Dark Theme
**/
:root {
  --main-background: #f5f5f2;
  --text-dark: #282822;
  --subtle-border: #e2e2e2;
  --main-blue: #017bfd;
  --main-green: #70c045;
  --main-yellow: #ffdf00;
  --main-pink: #ef125a;
  --main-pink-dark: #c61d54;
  --main-blue-hover: #016bdc;
  --white-hover: #e1e1e1;
  --solid-drop-shadow: rgba(0, 0, 0, 0.25);
  --gray-drop-shadow-hover: #c7c7c7;
  --blue-drop-shadow-hover: #005cbe;
}

a {
  color: var(--text-dark);
  text-decoration: none;
  @include transition(0.1s);
  &:hover {
    color: var(--main-blue);
  }
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

h1 {
}

p {
  font-size: 18px;
  font-weight: $weight-bold;
}

body {
  box-sizing: border-box;
  background: var(--main-background);
  font-family: $main-font;
  color: var(--text-dark);
}

img {
  box-sizing: border-box;
}

.dashboard {
  display: flex;
  @include responsive-max($tablet) {
    flex-direction: column;
  }
}

.container {
  margin: 0 auto;
  padding: 0 $comfortable-spacing;
  max-width: $tablet;
}

.main {
  min-height: 100vh;
  flex-basis: 70%;
  padding: 0 $comfortable-spacing;
  @include responsive-max($mobile) {
    padding: 0 $base-spacing;
  }
}

.panel-right {
  flex-basis: 30%;
}

.action-group {
  display: flex;
  flex-wrap: wrap;
  *:first-child {
    margin-right: 18px;
  }
  *:last-child {
    margin-left: 18px;
  }
}

.offset-heading {
  text-align: center;
  border-width: 7px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  bottom: 70px;
  color: white;
  h3 {
    margin: 10px $base-spacing;
  }
}

.button {
  @include flex-center;
  display: flex;
  text-align: center;
  font-weight: $weight-bold;
  width: 154px;
  height: 46px;
  border-radius: 5px;
  @include transition;
  &:hover {
    transform: translateY(-2px);
    cursor: pointer;
  }
  &-toggle {
    position: absolute;
    border: none;
    @include w-h(40px);
    @include flex-center;
    @include box-shadow($drop: 3px);
    border-radius: 50%;
    font-size: 40px;
    font-weight: 800;
    bottom: 50px;
    background-color: white;
    z-index: 2;
    * {
      display: flex;
      @include flex-center;
      color: var(--main-blue);
    }
  }
  &-secondary {
    @include box-shadow(var(--solid-drop-shadow), 4px);
    @include apply-hover;
  }
  &-primary {
    color: white;
    @include box-shadow(var(--main-blue-hover), 4px);
    @include apply-hover(
      $bg: var(--main-blue),
      $hovBg: var(--main-blue-hover),
      $hovDrop: var(--blue-drop-shadow-hover),
      $hovColor: white
    );
  }

  &-nav {
    position: relative;
    bottom: 1px;
    width: auto;
    height: auto;
    padding: 8px 20px;
    color: white;
    @include box-shadow(var(--main-blue-hover), 4px);
    @include apply-hover(
      $bg: var(--main-blue),
      $hovBg: var(--main-blue-hover),
      $hovDrop: var(--blue-drop-shadow-hover),
      $hovColor: white
    );
  }

  &.disabled {
    background-color: var(--subtle-border);
    @include box-shadow(var(--gray-drop-shadow-hover), 4px);
    color: var(--gray-drop-shadow-hover);
    pointer-events: none;
  }

  &.button-add {
    @include responsive-max($mobile) {
      position: fixed;
      z-index: 4;
      background-color: var(--main-blue);
      @include position($b: 20px, $r: 20px);
      @include w-h(60px);
      @include box-shadow($color: var(--blue-drop-shadow-hover));
      * {
        position: relative;
        bottom: 1px;
        color: white;
      }
      &-close {
        background-color: var(--main-pink);
        @include box-shadow($color: var(--main-pink-dark));
        * {
          transform: rotate(45deg);
        }
      }
    }
  }
}
