/** 
* Breakpoints
**/

$desktop: 1280px;
$tablet: 1024px;
$mobile: 400px;

/**
* Mixins
**/

@mixin subtle-border($size: 1px, $position: bottom) {
  border-#{$position}: $size solid var(--subtle-border);
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}

@mixin w-h($h, $w: $h) {
  height: $h;
  width: $w;
}

@mixin position($t: auto, $r: auto, $b: auto, $l: auto) {
  top: $t;
  bottom: $b;
  left: $l;
  right: $r;
}

@mixin box-shadow($color: var(--solid-drop-shadow), $drop: 4px, $blur: 0px) {
  box-shadow: 0px $drop $blur $color;
}

@mixin transition($timing: 0.05s) {
  transition: $timing ease-in-out;
}

@mixin responsive-max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin border-radius($radius: 10px) {
  border-radius: $radius;
}

@mixin apply-hover(
  $bg: white,
  $hovBg: darken($bg, 8%),
  $hovDrop: var(--gray-drop-shadow-hover),
  $hovColor: initial
) {
  background-color: $bg;
  &:hover {
    background-color: $hovBg;
    transform: translateY(-2px);
    @include box-shadow($hovDrop, 6px);
    cursor: pointer;
    color: $hovColor;
    * {
      color: $hovColor;
    }
  }
}
