/**
* Static Vars
**/

$game-item-base-height: 130px;
$nav-height: 80px;
$weight-black: 800;
$weight-bold: 600;
$base-spacing: 20px;
$compact-spacing: $base-spacing / 2;
$comfortable-spacing: $base-spacing * 2;
$main-font: "Nunito", sans-serif;
