.title {
  text-align: center;
  h3 {
    display: inline-block;
    margin: 50px auto 40px;
    text-transform: capitalize;
    font-weight: var(--weight-black);
    &:after {
      content: " ";
      display: inline-block;
      background-color: var(--main-blue);
      height: 2px;
      width: 100%;
      position: relative;
      top: -12px;
    }
    &.pink {
      &::after {
        background-color: var(--main-pink);
      }
    }
  }
}
