@import "../../styles/util.scss";
.title {
  text-align: center;
  position: relative;
  @include responsive-max($mobile) {
    display: flex;
    flex-direction: column;
  }
  h3 {
    background: white;
    padding: 8px 20px;
    @include border-radius;
    @include box-shadow;
    color: $main-blue;
    display: inline-block;
    margin: 50px auto 40px;
    font-weight: $weight-black;
    span {
      text-transform: capitalize;
    }
    &.pink {
      color: $main-pink;
    }
  }
}

.breadcrumb {
  color: rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
  @include responsive-max($mobile) {
    display: inline-block;
    margin-bottom: $compact-spacing;
  }
}
