.list {
  @include responsive-max($tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  .list-item {
    // padding: 15px;
    background-color: white;
    @include border-radius;
    @include box-shadow($trans-drop-shadow);
    font-weight: $weight-black;
    text-align: center;
    margin-bottom: $base-spacing;
    @include transition;
    @include apply-hover;
    & > * {
      display: inline-block;
      padding: 15px;
      width: calc(100% - 30px);
    }

    @include responsive-max($tablet) {
      flex: 1;
      white-space: nowrap;
      margin: $compact-spacing;
    }
  }
}

.list-item-add {
  @include border-radius;
  border: 4px dashed $trans-drop-shadow;
  color: $trans-drop-shadow;
  display: flex;
  @include flex-center;
  font-size: 40px;
  font-weight: $weight-black;
  @include transition(0.05s);
  &:hover {
    border: 4px dashed $main-blue;
    color: $main-blue;
  }
}
