@import "../../styles/util.scss";

$border-radius-top: 5px 5px 0 0;
$border-radius-bottom: 0 0 5px 5px;

.search-label {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"].search-suggestions-open {
  border-radius: $border-radius-top;
}

.search-option-list-container {
  border-radius: $border-radius-bottom;
  border: none;
  @include box-shadow;
  font-size: 95%;
  .search-option {
    padding: 0.5rem 0.75rem;
    &[data-highlighted] {
      background-color: var(--main-blue);
      color: white;
    }
    &:last-of-type {
      border-radius: $border-radius-bottom;
    }
  }
}
