@import "../../styles/util.scss";

.footer {
  box-sizing: border-box;
  min-height: $footer-height;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  @include flex-center;
  @include subtle-border(1px, top);

  .row {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .twitter-link {
    svg {
      fill: $text-dark;
      @include transition;
      &:hover {
        fill: $main-blue;
      }
    }
  }

  .copyright {
    font-weight: $weight-bold;
  }

  .bug-report {
    text-decoration: underline;
  }
}
