@import "../../styles/util.scss";

.games-toggle-panel {
  --games-toggle-padding: 60px;
  position: relative;
  max-width: 400px;
  min-height: calc(100vh - 94px);
  flex-basis: calc(100% / 3 - var(--games-toggle-padding));
  padding: 0 30px 30px;
  @include subtle-border(1px, right);
  @include responsive-max($mobile) {
    flex-basis: 100%;
    min-width: calc(100vw - var(--games-toggle-padding));
    max-width: none;
  }
  &-close {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50px;
    border: none;
    @include w-h(40px);
    @include flex-center;
    @include box-shadow($drop: 3px);
    a {
      position: relative;
      right: 1px; // visual purposes
      display: flex;
      @include flex-center;
    }
  }
}
