@import "../../styles/util.scss";

.landing {
  width: 100%;
  .landing-hero-section {
    @include flex-center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 56px);
  }
  .landing-title h1 {
    text-align: center;
    position: relative;
    font-size: 48px;
    color: $main-blue;
    font-weight: $weight-black;
    text-transform: uppercase;
    margin-bottom: $base-spacing;
    &:after {
      @include position(auto, 0, -12px, 0);
      content: " ";
      position: absolute;
      width: 100%;
      height: 9px;
      background: #deded8;
      border-radius: 23px;
      @include animate(grow-horizontal) {
        transform: scaleX(0);
      }
    }
  }

  .landing-subtitle h3 {
    font-weight: $weight-bold;
    font-size: 24px;
    margin-top: 0;
  }
}

/** 
* Short Features
**/

.landing-features-short-section {
  padding: 40px 0 80px 0;
  background-color: $main-green;
  display: flex;
  @include flex-center;
  flex-direction: column;
  .container {
    max-width: $desktop;
  }
}

.features-short-heading {
  background: #2a7d4d;
  border-color: #70c045;
}

.features-short-features {
  width: 100%;
  display: flex;
  @include flex-center;
  flex-wrap: wrap;
  .short-feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: $base-spacing;
    flex-basis: calc(100% / 3 - 30px);
    max-width: 350px;
    margin: 0 15px 20px;
    height: 384px;
    background: #f5f5f2;
    border: 10px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.16);
    @include border-radius;
    @include responsive-max($tablet) {
      flex-basis: 100%;
      margin: 0 10px 20px;
      max-width: 350px;
    }

    @include responsive-max($mobile) {
      flex-basis: 100%;
      margin: 10px 0;
      max-width: 100%;
    }
  }

  .feature-art {
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: calc($base-spacing + 30px);
    justify-content: center;
    svg {
      max-width: 250px;
    }
  }

  .feature-description {
    width: 100%;
    align-self: flex-end;
    text-align: center;
  }
}

/** 
* Indepth Features
**/

.landing-features-indepth {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  @include flex-center;
  flex-direction: column;
}

.features-indepth-heading {
  background-color: $main-yellow;
  border: 7px dashed $text-dark;
  border-radius: 5px;
  box-sizing: padding-box;
  h3 {
    margin: 10px $base-spacing;
  }
}

.features-indepth-features {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  .indepth-feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0;
    @include responsive-max($mobile) {
      flex-direction: column;
    }
    .feature-image {
      flex-basis: calc(100% / 2 - 110px);
      margin-right: 110px;
      text-align: center;
      background-color: white;
      min-height: 233px;
      border: 9px dashed #292929;
      border-radius: 5px;
      @include responsive-max($mobile) {
        flex-basis: 100%;
        margin-right: 0;
        width: 100%;
      }
      img {
        display: inline-block;
      }
    }
    .feature-content {
      flex-basis: calc(100% / 2);
      text-align: right;
      @include responsive-max($mobile) {
        flex-basis: 100%;
      }
    }

    &:nth-of-type(2) {
      flex-direction: row-reverse;
      @include responsive-max($mobile) {
        flex-direction: column;
      }
      .feature-image {
        margin-left: 110px;
        margin-right: 0;
        @include responsive-max($mobile) {
          margin-left: 0;
          // width: 100%;
        }
      }
      .feature-content {
        text-align: left;
      }
    }
  }
}

/** 
* Popular Games
**/

.landing-popular-games {
  display: flex;
  @include flex-center;
  padding: 40px 0 80px 0;
  background-color: $main-pink;
}

.popular-games-heading {
  background-color: $main-pink-dark;
  border-color: $main-pink;
}

/**
* Call to Action
*/

.landing-call-to-action {
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  @include flex-center;
}

.call-to-action-title {
  font-size: 32px;
  font-weight: $weight-black;
  h2 {
    margin-top: 0;
  }
}
