$border-radius-top: 5px 5px 0 0;
$border-radius-bottom: 0 0 5px 5px;

.search-form {
  min-width: 25vw;
  @include responsive-max($tablet) {
    min-width: 50vw;
  }
}

.search-label {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"].search-suggestions-open {
  border-radius: $border-radius-top;
}

[data-reach-combobox-popover].search-option-list-container {
  border-radius: $border-radius-bottom;
  border: none;
  font-size: 1rem;
  margin-top: -3px;
  @include box-shadow;
  .search-option {
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
    padding: 0.5rem 0.75rem;
    @include subtle-border($position: bottom);

    [data-user-value] {
      color: $main-blue;
      font-weight: $weight-black;
    }
    &:last-of-type {
      border-radius: $border-radius-bottom;
    }
  }
}

.search-form-input-wrap {
  display: flex;
  align-items: center;
  .search-form-input {
    flex: 1;
  }
  .button-action {
    margin-left: $base-spacing;
  }
}
