a {
  color: $text-dark;
  text-decoration: none;
  @include transition(0.1s);
  &:hover {
    color: $main-blue;
  }
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

h1 {
}

p {
  font-size: 18px;
  font-weight: $weight-bold;
}

body {
  box-sizing: border-box;
  background: $main-background;
  font-family: $main-font;
  color: $text-dark;
}

img {
  box-sizing: border-box;
}
