@import "./util.scss";

form,
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: $weight-bold;
}

label {
  display: inline-block;
  font-family: $main-font;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 14px 16px;
  outline: none;
  appearance: none;
  font-weight: $weight-bold;
  box-sizing: border-box;
  border: none;
  width: 100%;
  @include border-radius(5px);
  @include box-shadow;
  &:hover {
    background-color: $subtle-border;
  }
  &:focus {
    background-color: white;
  }
}
