/**
* Dynamic Vars
**/
// :root {
// }

/**
* Static Vars
**/

$main-background: #f5f5f2;
$main-blue: #017bfd;
$main-blue-darker: darken($main-blue, 10%);
$text-dark: #282822;
$subtle-border: #e2e2e2;
$main-green: #70c045;
$main-yellow: #ffdf00;
$main-pink: #ef125a;
$main-pink-dark: #c61d54;
$main-blue-hover: #016bdc;
$white-hover: #e1e1e1;
$trans-drop-shadow: rgba(0, 0, 0, 0.2);
$gray-drop-shadow-hover: #c7c7c7;

$game-item-base-height: 130px;
$nav-height: 80px;
$weight-black: 800;
$weight-bold: 600;
$base-spacing: 20px;
$compact-spacing: $base-spacing / 2;
$comfortable-spacing: $base-spacing * 2;
$main-font: "Nunito", sans-serif;
