@import "../../styles/util.scss";

.collections-panel {
  min-height: calc(100% - 40px);
  @include subtle-border(1px, left);
  padding: 0 $comfortable-spacing $comfortable-spacing;
  @include responsive-max($tablet) {
    @include subtle-border(1px, top);
  }
  .button-toggle {
    right: 0;
    top: 48px;
    * {
      color: $main-pink;
    }
  }
}
