@import "../../styles/util.scss";

.nav {
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  @include subtle-border;
}

.nav-logo {
  display: flex;
  @include flex-center;
  font-size: 22px;
  font-weight: 800;
  a {
    color: var(--text-dark);
  }
}

.nav-links {
  @include flex-center;
  display: flex;
}
